:root {
    --deepTaupe: #7e6c6c;
    --lightCoral: #f87575;
    --melon: #ffa9a3;
    --uranianBlue: #b9e6ff;
    --cornflowerBlue: #5c95ff;
}

h1 {
    font-family: 'Poppins', sans-serif;
    align-items: center;
    margin: auto;
}

.formContainer {
    display: block;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    align-items: center;
}

.button {
    margin-top: 20px;
    background-color: var(--lightCoral);
    border-color: var(--melon);
    align-items: right;
}

.button:hover{
    background-color: var(--melon);
}

