:root {
    --deepTaupe: #7e6c6c;
    --lightCoral: #f87575;
    --melon: #ffa9a3;
    --uranianBlue: #b9e6ff;
    --cornflowerBlue: #5c95ff;
}

.footer {
    background-color: var(--uranianBlue);
    border-top: 2px solid var(--uranianBlue);
    position: fixed;
    width: 100%;
    bottom: 0;
    color: var(--deepTaupe);
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

.MuiIcon-root {
    font-size: 50px;
    fill: var(--deepTaupe);
    color: var(--deepTaupe)
}