:root {
    --deepTaupe: #7e6c6c;
    --lightCoral: #f87575;
    --melon: #ffa9a3;
    --uranianBlue: #b9e6ff;
    --cornflowerBlue: #5c95ff;
    --antiqueWhite: #faebd7;
}

.MuiBottomNavigationAction-root {
    background-color: white !important;
    color: var(--cornflowerBlue);
    width: 100%
    
}

.css-16lloyr-MuiBottomNavigation-root {
    background-color: var(--uranianBlue);
    color: var(--cornflowerBlue);
    width: 100%;
}

h1 {
    margin: auto;
    text-align: left;
}